# Example .env file. Set values as needed. Rename to .env when ready to use.
POSTGRES_DB=timebooker
POSTGRES_USER=timebooker
POSTGRES_PASSWORD=your-password-here

DATABASE_URL=postgres://timebooker:your-password-here@localhost:5432/timebooker
